<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
  <ul><% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - <%= dose.ingredient.name %></li>
  <% end %>
  </ul>
</p>
<%= link_to 'Destroy', @cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Edit', edit_cocktail_path(@cocktail), class: "btn btn-warning" %>
<%= link_to 'View All Cocktails', cocktails_path, class: "btn btn-secondary" %>
<%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
